body {
	font: 16px/28px arial, sans-serif;
	background-color: black;
	
}
.container {
	width: 800px;
	height: 700px;
	margin: auto;
	background-color:rgb(240,147,43,0.7);
	font-family: Brush Script MT;
	font-size: 20px;
}
.header{
	padding:20px;
}
div.pesan {
	height: 400px;
	width: 700px;
	margin: auto;
	background-color:rgb(240,147,43,0.7);
	border-radius:8px;
	margin-top: 20px;
}

.link-button{
      text-decoration:none;
      background-color:rgb(240,147,43,0.7);
      color:black;
      padding:2px 6px 2px 6px;
      border: 1px solid #c2c2c2;
      border-radius:2px;
      margin-left: 30px;
      
    }
a{
	float: right;
	padding:10px;
	margin-top:20px;
	m
}
div.struk {
	height: 480px;
	width: 300px;
	margin: auto;
	background-color:rgb(251,160,122);
	border-radius:8px;
	margin-top: 20px;
}
