
h1{
	font-family: Bradley Hand ITC;
	margin-left: 20px;
}
div.tombol {
   width: 600px;
   height: 40px;
   margin-top: -110px;
   float: right;
   padding: 10px;

}
a {
   list-style: none;
   font-size: 20px;
   float: left;
   margin-right: 20px;
   margin-top: 5px;
   margin-left: 20px;
   background-color: #f5deb3;
}
